<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="style3.css">
    <title>Header</title> 
    <script>
        function show(id1, id2) {
            var x = document.getElementById(id1);
            var y = document.getElementById(id2);
            y.style.display = "none";
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>
</head>
<body>
    <main>
        <div class="pure-g nav">
            <div class="pure-u-2-24"></div>
            <div class="pure-u-20-24">
                <div class="nav-child">
                    <div class="logo">
                        <img class="logo-img" src="../img/logo.png" alt="">
                        <p class="logo-text">HAHYWU</p>
                    </div>
                    <div class="button-head">
                        <input id="Profile" class="button-head-hover" type="button" value="" style="background-image: url(../img/Profile.png);">
                        <input id="Home" type="button" value="" style="background-image: url(../img/Home.png);">
                    </div>
                    <div> 
                        <input type="button" name="" class="leftbut" style="background-image: url(../img/Notification.png); right: 50px;" onclick="show('notification-box', 'click-choice')">
                        <span id="SLNoti" class="badge badge-light">22</span>
                    </div>
                    <input type="button" name="" class="leftbut" style="background-image: url(../img/avata.jpg); background-size: 45px;" onclick="show('click-choice', 'notification-box')">
                </div>
                <span id="click-choice" style="display: none;">
                    <div>
                        <button class="signout">Sign out</button>
                    </div>
                </span>
                <span id="notification-box" style="display: none;">
                    <p class="notification-header">Notification</p>
                    <!-- da doc -->
                    <div class="notification-content" >
                        <div class="notification-ava"></div>
                        <p class="notification-text"><b>Duc Huy</b> has commented on your post <b>Giai cuu!!!</b></p>
                    </div>
                    <!-- chua doc -->
                    <div class="notification-content unseen">
                        <div class="notification-ava"></div>
                        <p class="notification-text">Your post <b>Phim bede 2023</b> has been <b>approved</b></p>
                    </div>
                </span>
            </div>
            <div class="pure-u-2-24"></div>
        </div>
        
    </main>
</body>
</html>
