<!DOCTYPE html>
<html lang="en">
<head>  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POST</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="../View/style2.css">
    <script lang="JavaScript">
        function pGenerate() {
            const arr = ["Mathematics"];
            var content = document.getElementById("subject");
            for (i=0; i < arr.length; i++) {
                var newP = document.createElement("div");
                newP.className = "subject-content";
                var par = document.createElement("p");
                par.append(arr[i]);
                newP.appendChild(par);
                content.appendChild(newP);
            }
        }        
        function setText() {
            var title = document.getElementById("title");
            //set title
            var content = document.getElementById("content-text");
            //set content
            //content.append(text);

            autoHeight(title);
            autoHeight(content);
        }
        function autoHeight(element) {
            element.style.height = "auto";
            element.style.height = element.scrollHeight + "px";
        }
        function setImg() {
            var fileInput = document.getElementById("file-input");
            var imageTag = document.getElementById("content-image");
            // Get the selected file
            var file = fileInput.files[0];
            // Check if the file is an image
            if (file && file.type.match("image.*")) {
                // Create a file reader object
                var reader = new FileReader();
                // Add event listener for file reader load
                reader.addEventListener("load", function() {
                // Set the src attribute of the img tag to the file data
                imageTag.src = reader.result;
                });
                // Read the file as a data URL
                reader.readAsDataURL(file);
            }
            var post = document.getElementsByClassName("post");
            autoHeight(post);
        };
        window.onload = function() {
            pGenerate();
        }
    </script>
</head>
<body>
    <form name="post" action="">
        <div class="post">
            <div class="post-row">
                <div class="avapic" style="width: 60px; height: 60px;"></div>
                <input type="text" name="" class="user" value="User">
                <input type="date" class="date" value="2023-04-25">
                <div id="subject"></div>
                <button class="more">&#x2807;</button>
            </div>
            <div class="post-row">
                <div class="post-content">
                    <textarea name="" id="title" cols="0" rows="1"></textarea>
                    <textarea name="" id="content-text" cols="0" rows="1"></textarea> 
                    <img id="content-image" style="width: 100%;" src="../img/avata.jpg" alt="">
                </div>
            </div>
            <div class="post-row">
                <p class="bottom-text" style="right: 35px;">Comments</p>
            </div>
        </div>
    </form>
</body>
</html>