<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <!-- <form name="signin" action=""> -->
        <!-- Button -->
    <button class="Button-bl-or changebg-bl-or" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Sign up</button>
        <!-- Sign in -->
    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="signinform">

                    <div class="signinleft">
                        <div class="logo" style="top: 62px;">
                            <img class="logo-img" src="../img/logo.png" alt="">
                            <p class="logo-text">HAHYWU</p>
                        </div>
                        <img class="imgsign" src="../img/signin.png" alt="image">
                        <p class="p-16" style="top: 372px;">Don’t have an account yet?</p>
                        <button type="button" class="Button-bl-or changebg-bl-or" data-bs-toggle="modal" data-bs-target="#exampleModalToggle" style="bottom: 62px;">
                            Sign up
                        </button>
                    </div>

                    <div class="signinright">
                        <input class="btn-close" data-bs-dismiss="modal" id="Button-close" type="button" value="" style="background-image: url(../img/Close.png);">
                        <p class="p-30" style="top: 116px;">Sign in</p>
                        <p class="p-14-50" style="top: 164px;">- Wellcome back -</p>
                        <div class="content">
                            <input type="text" value="" placeholder="Username" style="top: 218px;">
                            <input type="password" value="" placeholder="Password" style="top: 268px;">
                        </div>
                        <input class="Button-or-bl changebg-or-bl" type="submit" value="Sign in" style="bottom: 116px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- </form> -->
</body>
</html>