<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form name="signin" action="">
        <div class="popup">
            <div class="signinform">
                <div class="signinleft">
                    <div class="logo" style="top: 62px;">
                        <img class="logo-img" src="../img/logo.png" alt="">
                        <p class="logo-text">HAHYWU</p>
                    </div>
                    <img class="imgsign" src="../img/signin.png" alt="image">
                    <p class="p-16" style="top: 372px;">Don’t have an account yet?</p>
                    <input class="Button-bl-or" type="submit" value="Sign up">
                </div>
                <div class="signinright">
                    <input id="Button-close" type="button" value="" style="background-image: url(../img/Close.png);">
                    <p class="p-30" style="top: 116px;">Sign in</p>
                    <p class="p-14-50" style="top: 164px;">- Wellcome back -</p>
                    <div class="content">
                        <input type="text" value="" placeholder="Username" style="top: 218px;">
                        <input type="password" value="" placeholder="Password" style="top: 268px;">
                    </div>
                    <input class="Button-or-bl" type="submit" value="Sign in" style="bottom: 116px;">
                </div>
            </div>
        </div>
    </form>
</body>
</html>