.topcenter {
    position: relative;
    top: 0px;
    background-color: white;
    width: 83.333%;
    height: 295px;
}
.top {
    position: relative;
    top: 31px;
}
.ava {
    position: relative;
    top: 0px;
    width: 163px;
    height: 163px;
}
.ava > img {
    position: absolute;
    top: 0px;
    width: 163px;
    height: 163px;
    border-radius: 90px;
    display: inline-block;
    background-repeat: no-repeat;
    background-color: white;
    outline: none;
    border: none;
    background-position: center;
}
.line {
    position: absolute;
    bottom: 72px;
    width: 100%;
    height: 2px;
}
.line > hr {
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: var(--lightblue);
    border-radius: 90px;
}
.menu-top {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: white;
}
.menu-top > input {
    width: fit-content;
    height: 50px;
    border-radius: 90px;
    display: inline-block;
    background-color: white;
    outline: none;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    font-size: 20px;
    font-weight: 800;
    color: var(--darkblue);
    position: relative;
    align-content: center;
}
.menu-top > input:hover {
    background-color: var(--lightblue);
}
#Camera {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 50px;
    height: 50px;
    border-radius: 90px;
    display: inline-block;
    background-repeat: no-repeat;
    background-color: var(--lightblue);
    outline: none;
    border: none;
    background-position: center;
}
#Camera:hover {
    background-color: var(--darkblue) !important;
}
.topcontent {
    position: absolute;
    left: 183px;
    top: 67px;
    width: 750px;
    height: auto;
}
.p-name {
    font-size: 30px;
    font-weight: 800;
    color: var(--darkblue);
    position: absolute;
    align-content: center;
}
.p-role {
    font-size: 18px;
    font-weight: 800;
    color: var(--darkblue50);
    position: absolute;
    align-content: center;
}
.topcontent > p {
    position: relative;
}

/* PERSONAL INFOR */
.child {
    position: relative;
    box-shadow: 4px 4px 10px var(--darkblue);
    border-radius: 30px;    
    height: 400px;
    text-align: center;
    padding: auto 0px !important;
    background-color: white;
    
}
.headform > p {
    display: inline-block;
    text-align: center;
    position: relative;
    margin: 20px auto auto 15px;
}
.lineform {
    width: 90%;
    height: 2px;
    position: relative;
    display: inline-block;
    border-radius: 90px;
    background-color: var(--darkblue50);
    margin: 15px 0px;
}
.bodyform {
    display: inline-block;
    width: 90%;
    position: relative;
    text-align: justify;
}
.info {
    width: 30%;
    position: relative;
    float: left;
}
.info-h2 {
    width: 65%;
    position: relative;
    float: left;
}
.p-12 {
    font-size: 12px;
    font-weight: 800;
    color: var(--darkblue50);
    position: relative;
    align-content: center;
    margin: 0px;
}
.infotext {
    border: solid 2px var(--darkblue50);
    position: relative; 
    width: 100%;
    height: 35px;
    border-radius: 10px;
    color: var(--darkblue50);
    outline: var(--darkblue50);
    font-size: 16px;
    font-weight: 800;
    padding: 0px 10px;
    margin-bottom: 20px;
}
.infotext:focus{
    border-color: var(--darkblue);
    color: var(--darkblue);
}
::placeholder{
    color: var(--darkblue50);
}
.footerform {
    display: inline-block;
    width: 90%;
    position: relative;
    text-align: center;
    height: fit-content;
    margin-bottom: 20px;
}
.footerform > button {
    position: relative;
    margin: 0px 20px;
}

/* Feedback */
.carousel-item {
    position: relative;
    height: 300px;
    text-align: center;
    padding: auto 0px !important;
}
.carousel-control-prev {
    height: 80%;
}
.carousel-control-next {
    height: 80%;
}
.carousel-control-prev-icon {
    background-image: url(../img/arrow-left-circle.png);
}
.carousel-control-next-icon {
    background-image: url(../img/arrow-right-circle.png);
}
.carousel {
    height: 300px;
}
.carousel-item > img {
    width: 60px;
    height: 60px;
    border-radius: 90px;
    display: inline-block;
    background-repeat: no-repeat;
    background-color: transparent;
    outline: none;
    border: none;
    background-position: center;
}
.p-18 {
    font-size: 18px;
    font-weight: 800;
    color: var(--darkblue);
    align-content: center;
    margin: 5px auto 0px auto;
}
.contentfeedback {
    position: absolute;
    text-align: justify;
    left: 18%;
    width: 64%;
}
.contentfeedback > p {
    position: relative;
    margin-bottom: 5px;
    color: var(--darkblue50);
}
.rate {
    margin-bottom: 5px;
}

.bgbody {
    background-color: var(--lightblue);
}

/* Change Ava */
.changeAva {
    width: 70vh;
    height: 70vh;
    border-radius: 90px;
    background-color: white;
    border: 4px solid var(--darkblue50);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.changeAva > p {
    position: absolute;
    top: 5%;
}
.changeAva .lineform {
    position: absolute;
    top: 13%;
}
.changeAva > img {
    position: absolute;
    top: 22%;   
    width: 50%;
    height: 50%;
    border-radius: 50%;
    display: inline-block;
    background-repeat: no-repeat;
    background-color: white;
    outline: none;
    border: none;
    background-position: center;
}
.custom-file-upload {
    position: absolute;
    top: 76%;
    display: inline-block;
    padding: 12px 10px;
    cursor: pointer;
    border-radius: 90px;
    background-color:var(--darkorange);
    font-size: 18px;
    font-weight: bold;
    color: var(--darkblue);
  }
input[type="file"] {
    display: none;
}

  /* Reason */
.reasonform {
    border: solid 2px var(--darkblue);
    border-radius: 30px;
    width: 515px;
    height: fit-content;
    margin: 0px auto;
    padding-bottom: 40px;
    position: relative;
    background-color: white;
}
.reason .bt {
    margin: 0px auto;
    padding: 10px 10px 0px 10px;
    border-radius: 30px;
    text-align: center;
}
.reason > p {
    position: relative;
    text-align: center;
}
.reason .Button-or-bl {
    position: relative !important;
}
.rs {

}
.rstxt {
    margin: 1vh 5vh;
    display: flex;
}
.rstxt > p {
    position: relative !important;
    width: 100%;
    margin-bottom: 0px;
    margin-left: 10px;
}

/* ViewAdmin */
.viewadmin {
    width: 100%;
    height: 100%;
    box-shadow: inset 0px 10px 10px -10px rgba(0,0,0,0.5);
}