<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="../View/style2.css">
</head>
<body>
    <form name="UserMoreInfo" action="">
        <section class="pure-g section4">
            <div class="pure-u-5-24"></div>
            <div class="pure-u-16-24">
                <div class="newpost headform">
                    <p style="margin: 24px 0 0 0;">- NEW POST -</p>
                    <hr class="straightline">
                    <div class="pure-g undernewpost">
                        <div class="pure-u-2-24"></div>
                        <div class="pure-u-3-24">
                            <div class="avapic" style="margin-top: 24px;"></div>
                        </div>
                        <div class="pure-u-17-24">
                            <input class="topost" type="text" name="newpost" value="" placeholder="What are you wondering?" style="margin-top: 24px;">    
                        </div>
                        <div class="pure-u-2-24"></div>
                    </div>
                </div>
                <div class="userdetail">
                    <div class="pure-g" style="position: relative;">
                        <div class="pure-u-1-12"></div>
                        <div class="pure-u-7-12" style="position: relative;text-align: left;">
                            <input class="topost" type="text" name="searchpost" style="width: 190px;" placeholder="Search">
                            <input class="searchpostbut" type="button" name="searchpostbut">
                        </div>
                        <div class="pure-u-3-12">
                            <input class="filterbut" type="button" name="filterbut" value="Filter">
                        </div>
                        <div class="pure-u-1-12"></div>
                    </div>
                    <hr class="straightline">
                    <div class="pure-g">
                        <div class="pure-u-2-24"></div>
                        <div class="pure-u-20-24" style="position: relative; ">
                            <div style="color: rgba(27, 51, 91, 0.66); font-size: 16px;">
                                <p class="first-column">Posts: <input type="text" name="" value="0" class="second-column" readonly></p>
                                <hr class="straightline" style="margin: 0;">
                                <p class="first-column">Answered posts: <input type="text" name="" value="0" class="second-column" readonly></p>
                                <hr class="straightline" style="margin: 0;">
                                <p class="first-column">Unanswered posts: <input type="text" name="" value="0" class="second-column" readonly></p>
                                <hr class="straightline" style="margin: 0;">
                                <p class="first-column">Posts under moderation: <input type="text" name="" value="0" class="second-column" readonly></p>
                                <hr class="straightline" style="margin: 0;">
                                <p class="first-column">Answering posts: <input type="text" name="" value="0" class="second-column" readonly></p>
                                <hr class="straightline" style="margin: 0;">
                            </div>
                        </div>
                        
                        <div class="pure-u-2-24"">
                        </div>
                    </div>
                </div>
            </div>
            <div class="pure-u-3-24"></div>
        </section>
    </form>
</body>
</html>