<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="style2.css">
    <title>User Top</title>
</head>
<body>
    <form name="UserTop" action="">
        <div class="pure-g">
            <div class="pure-u-2-24"></div>
            <div class="pure-u-20-24 topcenter">
                <div class="top">
                    <div class="ava">
                        <img src="../img/avata.jpg" alt="ava">
                        <input id="Camera" type="button" value="" style="background-image: url(../img/Camera.png);" hidden>
                    </div>
                    <div class="topcontent">
                        <p class="p-name">Nhật Hạ</p>
                        <div class="role">
                            <p class="p-role">VIP User</p>
                            <img src="../img/Vip.png" alt="vip" style="left: 80px; position: relative;">
                        </div>
                    </div>
                </div>
                <div class="line">
                    <hr>
                </div>
                <div class="menu-top">
                    <input type="submit" value="Information">
                    <input type="submit" value="Post">
                </div>
            </div>
            <div class="pure-u-2-24"></div>
        </div>
    </form>
</body>
</html>