<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css">
    <link rel="stylesheet" href="style.css">
    <title>Header</title>
</head>
<body>
    <main>
        <div class="pure-g nav">
            <div class="pure-u-2-24"></div>
            <div class="pure-u-3-24">
                <div class="nav-child">
                    <div class="logo">
                        <img class="logo-img" src="../img/logo.png" alt="">
                        <p class="logo-text">HAHYWU</p>
                    </div>
                </div>
            </div>
            <div class="pure-u-14-24">
                <div class="button-head">
                    <input id="Profile" class="button-head-hover" type="button" value="" style="background-image: url(../img/Profile.png);">
                    <input id="Home" type="button" value="" style="background-image: url(../img/Home.png);">
                </div>
            </div>
            <div class="pure-u-3-24">
                <div class="button-head-right">
                    <input id="Notification" type="button" value="" style="background-image: url(../img/Notification.png);">
                    <input type="button" value="" style="background-image: url(../img/avata.jpg); background-size: 50px;">
                </div>
            </div>
            <div class="pure-u-2-24"></div>
        </div>
    </main>
    <footer>
    </footer>
</body>
</html>